@model List<Usuario>;
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lista de Usuario</h1>
<a asp-action="Guardar" asp-controller="Usuario" class="btn btn-success btn-sm">Nuevo usuario</a>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id. Usuario</th>
                <th>Nombre Categoria</th>
                <th>Telefono</th>
                <th>Id. Categoria</th>
                <th>Nombre Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.refCategoria.IdCategoria)</td>
                    <td>@Html.DisplayFor(modelItem => item.refCategoria.NombreCategoria)</td>
                    <td>
                        <button class="btn btn-warning btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

